.headerSection.slider {
background: rgba(255, 255, 255, 0.8) url('/images/Home-Sliderbg.JPG') ;

	height: 300px;
	background-position: top center;
	background-size: cover;
}

.sliderHeader {
	font-size: 2em;
	text-align: left;
	padding-left: 20%;
	padding-top: 75px;
}

.sliderName {
	margin-top: 12px;
	font-weight: 500;
}

.slider > p {
	color: black;
	font-size: 1.2em;
	font-weight: 500em;
	text-align: left;
	padding-left: 20%;
	padding-top: 10px;
}

a.carousel-indicators {
	color: yellow;
	background: none;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin: auto;
	opacity: .9;
}

.carousel > a.carousel-control {
	background: none;
	color: #999;
}

.carousel-inner > .item {
	height: 250px;
	overflow: hidden;
}

.headerSection {
	padding-top: 20px;
}

.servicesImage {
	width: 31%;
	padding-top: 20px;
	float: right;
}

.servicesImage.alt {
	float: left;
	
}

.services {
	float: left;
	width: 66%;
}

.services.alt {
	float: right;
}

.services > ul {
	font-size: .88em;
}

.servicesContainer {
	background-image: url(/images/services-bg.jpg);
	background-size: cover;
}

.seeAllServices {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 100px;
}

#slider {
	padding-top: 50px;
}

.sponsors,
.blog{
	text-align: center;
}

#sponsorImageHeader {
	padding-bottom: 30px;
}

#slider .sliderImage{
	width: 225px;
	height: 225px;
}

#sponsorImages .sliderImage {
	width: 200px;
	height: 50px;
}

.blog {
	background-image: url(/images/blog-bg.jpg);
	background-size: cover;
	text-align: left;
}

.blog h2 {
	margin-bottom: 20px;
}

.blog img {
	padding-right: 50px;
	width: 225px;
}

.blog .posts > div {
	clear: both;
}

.blog .posts > div:not(:first-child) {
	padding-top: 75px;
}

.blog .posts h3 {
	padding-top: 0px;
}

.blog .post .date {
	text-transform: capitalize;
	font-size: 1.2em;
	margin-top: 7px;
	margin-bottom: -1px;
	font-weight: 400;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); /* Gray text alone doesn't give enough contrast. */
}

#socialSlider img {
	height: 180px;
	width: 180px;
}

.viewSponsors {
	margin-bottom: 45px;
}

.social .date {
	font-size: .8em;
	font-weight: 400;
}

.social a {
	text-decoration: underline;
	color: white;
}
	
#slider input.btn {
	font-size: 1em;
	letter-spacing: inherit;
	margin-bottom: 50px;
}